<div lugares__info class="ms-4">
    <h2>Lugares</h2>

    <shared-search-box (onNewPlace)="newPlace($event)" ></shared-search-box>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{lugar?.id}}</td>
            <td>{{lugar?.name}}</td>
            <td>{{lugar?.region?.name}}</td>
          </tr>
        </tbody>
      </table>
</div>